[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "celery>=5.6.2",
    "redis>=7.1.1",
    "sonolus-fastapi>=0.5.5",
    "sonolus-models>=0.2.6.4",
    "sqlalchemy>=2.0.46",
]
